* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
}

#custom-weather,
#custom-hyprpicker,
#custom-power,
#keyboard-state,
#power-profiles-daemon,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#cpu,
#memory,
#disk,
#backlight {
  background: #1e1e2e;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 1px solid #181825;
}

#temperature {
  border-radius: 0px 10px 10px 0px;
}

#temperature.critical {
  color: #eba0ac;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#power-profiles-daemon.performance {
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: red;
}

#power-profiles-daemon.balanced {
  color: blue;
}

#power-profiles-daemon.power-saver {
  color: green;
}

#power-profiles-daemon {
  border-radius: 10px 10px 10px 10px;
}

#cpu {
  border-radius: 10px 0px 0px 10px;
  color: #ffcccb; /* pastel red */
}

#memory {
  border-radius: 0px 0px 0px 0px;
  color: #add8e6; /* pastel blue */
}

#disk {
  border-radius: 0px 10px 10px 0px;
  color: #c3e6cb; /* pastel green */
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #fab387;
  border-radius: 10px 0px 0px 10px;
  margin-left: 10px;
  border-right: 0px;
}

#network {
  color: #f9e2af;
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth {
  color: #89b4fa;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px 0px 0px 10px;
}

@keyframes blink {
  to {
    background-color: #64727d;
    color: #ffffff;
  }
}

#battery {
  color: #a6e3a1;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}

#battery.critical:not(.charging) {
  color: #ff0000;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
  margin-left: 0px;
}

#custom-hyprpicker {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
  margin-left: 0px;
}

#custom-power {
  border-radius: 10px 10px 10px 10px;
  border-right: 0px;
  margin-left: 0px;
}

#custom-hyprpicker:hover {
  border-radius: 0px 10px 10px 0px;
  background-color: gold;
  color: #000000;
  border-right: 0px;
  margin-left: 0px;
}

#keyboard-state {
  border-radius: 10px 0px 0px 10px;
}

#keyboard-state > label {
  color: lightgray;
  border-radius: 10px 0px 0px 10px;
}

#keyboard-state > label.locked {
  color: gray;
  border-radius: 10px 0px 0px 10px;
}
